body{
	background: #000000;
	color: white;
	text-align: center;
	padding: 0;
}
.brand-logo {
	font-family: 'Hanalei Fill', cursive;
	float: left;
}
.nav-wrapper a{
	color: black;
}
.tab a{
	color: red;
}
.title-head {
	font-family: 'Hanalei Fill', cursive;
	margin-top: 1.2em
}
.container-div{
	margin-top: 3em;
	text-align: center;
}
.contenedor-form{
	color: #000000;
	background: #ddd;
	border-radius: 5px;
	padding: 1em 3em;
}

.btn-show{
	margin: auto;
	display: block;
}
.btn-option{
	margin: auto;
}
.btn-edit{
	background: green;
	margin-right: 5px;
}
.btn-delete{
	background: red;
}

.color-empty{
	color:red;
	text-align: center;
}

.contenedor-table{
	padding: 1em 3em;
	margin: auto;
	margin-top: 2em;
	background: #ddd;
	border-radius: 2px;
	text-align: center;
	color: #000000;
}